@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: black;
}

/* Style Padrão */
input[type="checkbox"] {
  display: none;
}

#BodyBody {
  overflow: hidden;
}

body {
  width: 100%;
  height: 100vh;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-backdrop-filter: blur(8vh);
  color: white;
  ;
}

iframe {
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0px;
}

i {
  color: white;
}

/* Backgrounds */

#Border::-webkit-scrollbar {
  width: 0px;
}


#ImageFile {
  display: none;
}


#Corpo_Backgrounds {
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  backdrop-filter: blur(2.6vh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  padding: 2vh;
}

#Corpo_Backgrounds::-webkit-scrollbar {
  width: 0px;
}

#BackgroundsC {
  border: 0.2vh solid white;
  width: 89%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  height: auto;
  overflow: auto;
}

#BackgroundsC>img {
  width: 50vh;
  height: 50vh;
  padding: 2vh;
  cursor: pointer;
  flex-flow: row nowrap;
}

#EscolherBK {
  padding: 2vh;
  width: 100%;
  color: white;
  background: rgba(19, 14, 14);
  position: absolute;
  border: transparent;
  bottom: 0;
  color: #FFF;
  text-align: center;
  font-family: "Holtwood One SC", serif;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#Border>button,
#UploadFiles {
  border: 0.3vh solid;
  border-image: conic-gradient(from var(--angle), rgb(201, 201, 61), yellow, rgb(192, 192, 34), rgb(255, 255, 48)) 1;
  display: block;
  margin: auto;
  margin-top: 1vh;
  font-size: 2.5vh;
  width: 80%;
  color: #ffff00;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

#UploadFiles {
  background: #0d0c0e;
  width: 80%;
}

#Body_Upload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#Corpo_Upload {
  width: 50vh;
  border-radius: 2vh;
  padding: 2vh;
}

#Blood {
  color: yellow;
}

#Border>button:hover {
  background: purple;
}

button {
  all: unset;
}

#Backgrounds {
  border: 0.2vh solid #34285f;
  border-radius: 1vh;
  overflow: auto;
  height: 85%;
  margin-top: 1vh;
}

#Backgrounds::-webkit-scrollbar {
  width: 0px;
}

#Listar,
#Listar2 {
  color: white;
  width: 80%;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 3vh;
  padding: 2vh;
}

#Listar2 {
  font-size: 5vh;
  padding: 2vh;
}

/* Templete */
#Templete {
  height: 15vh;
  width: 100%;
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  backdrop-filter: blur(2.6vh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 2;
  bottom: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}


#Conteúdo_Templete>button,
#Conteúdo_Templete>i,
#Conteúdo_Templete>label>i {
  display: inline-block;
  margin-left: 1vh;
  overflow: hidden;
  cursor: pointer;
}

#Conteúdo_Templete {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  margin-top: 8vh;
  width: 80%;
  margin-left: 16vh;
  overflow: hidden;
  font-size: 4vh;
}

#Recomeçar {
  display: inline-block;
}

#Templete>img {
  width: 12vh;
  height: 12vh;
  display: flex;
  float: left;
  margin-left: 2vh;
  padding-top: 1vh;
  border-radius: 2vh;
}

#TP_Name {
  display: flex;
  float: left;
  margin-left: 2vh;
  width: 90%;
  overflow: auto;
  font-size: 5vh;
  color: #FFF;
  text-align: left;
  font-family: Impact;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
}

#TP_Name::-webkit-scrollbar {
  width: 0px;
}

#Templete>h1 {
  display: inline-block;
}

#Random {
  border: 0.1vh solid white;
  margin-top: 20vh;
}

#F {
  display: none;
}

#BtnMute {
  display: none;
  margin: auto;
}

/* Boxs */
#Boxs,#PlaylistConteudos > div {
  width: 100%;
  display: block;
  margin: auto;
  background: rgba(0, 0, 0, 0.77);
  filter: opacity(95%);
  cursor: pointer;
  height: 32vh;
  padding: 2vh;
}

#Boxs::-webkit-scrollbar {
  width: 0px;
}

#Musicas::-webkit-scrollbar {
  width: 0px;
}

#Labeis>i {
  position: absolute;
  position: unset;
  margin-top: 3vh;
  left: 0;
  margin-left: 5vh;
}

.Image,#PlaylistConteudos > div > img {
  width: 30vh;
  height: 30vh;
  border-radius: 3vh;
  top: 0;
  margin-top: 2vh;
  margin-left: 2.4vh;
  filter: blur(100%);
  position: absolute;
}

#PlaylistConteudos > div > img{
  display: flex;
  float: left;
  margin-left: 2vh;
}

/* CaixaTexto */
#IDss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Holtwood One SC', serif;
  align-items: center;
  float: left;
  font-size: 3.5vh;
  width: 5%;
  height: 100%;
}

#CaixaTexto>h1,
#CaixaTexto>h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2vh;
  margin: auto;
  margin-top: 2vh;
  width: 90vh;
  color: #FFF;
  text-align: center;
  font-family: 'Holtwood One SC', serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: auto;
  border: 0.2vh solid transparent;
}
#CaixaTexto > input,#CaixaTexto > button{
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2vh;
  font-size: 5vh;
  text-align: center;
  margin-right: 5vh;
  margin-top: 10vh;
  background-color: transparent;
}
#CaixaTexto > button{
  margin-top: 20vh;
}
#CaixaTexto>h2 {
  color: green;
}


/* Sidebar */
#Sidebar {
  color: white;
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  backdrop-filter: blur(2.6vh);
  text-decoration: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60vh;
  height: 100%;
  text-align: center;
  transform: translate(60vh);
  transition: 1s;
  cursor: pointer;
  overflow: hidden;
}

#QuantideDiv,
#TempoDiv {
  color: #FFF;
  text-align: center;
  font-family: 'Holtwood One SC', serif;
  font-size: 1.6vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 2vh;
}

:is(#QuantideDiv, #TempoDiv)>h1>span {
  display: block;
  color: yellow;
  text-shadow: 0.2vh 0.2vh 0.2vh black;
}

#Sidebar>a {
  display: block;
  margin-top: 2vh;
  text-decoration: none;
  text-align: left;
  margin-left: 2vh;
  color: #FFF;
  flex-shrink: 0;
  font-family: 'Holtwood One SC', serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 0.1vh 0.1vh 0.1vh black;
  font-size: 2vh;
}

#Sidebar>a:hover {
  text-shadow: none;
  color: #FFF;
  font-family: 'Holtwood One SC', serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(180deg, #FAFF00 0%, #8EE2F4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4vh;
}

#HeaderSidebar {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#HeaderSidebar>h1,
#Corpo_Backgrounds>h1 {
  color: #FFF;
  font-family: 'Holtwood One SC', serif;
  font-size: 4vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(180deg, #FAFF00 0%, #8EE2F4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Corpo_Backgrounds>h1 {
  display: block;
  margin: auto;
  font-size: 7vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
}

#BtnOpen {
  all: unset;
  right: 0;
  position: fixed;
  color: white;
  cursor: pointer;
  z-index: 3;
  font-size: 10vh;
  margin-top: -2vh;
  margin-right: 1vh;
}

/* MusicaPrincipal */
#MusicaPrincipal {
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  backdrop-filter: blur(2.6vh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  z-index: 2;
  display: none;
}



#Avançar {
  border: 0.1vh solid transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 75%;
  margin: auto;
}

#FrenteP,
#TrásP {
  cursor: pointer;
  z-index: 1;
  top: 0;
}

#TrásP>img,
#FrenteP>img {
  width: 50vh;
  height: 50vh;
}

#MusicaPrincipal::-webkit-scrollbar {
  width: 0px;
}


#FecharPrincipal {
  position: absolute;
  font-size: 15vh;
  top: 0;
  left: 0;
  margin-left: 2vh;
  margin-top: -2vh;
  cursor: pointer;
  color: black;
}

#play2,
#Pausar2 {
  cursor: pointer;
  width: 40vh;
  height: 40vh;
}

#Pausar2 {
  margin: auto;
}

#play2 {
  display: none;
}

#MV {
  position: absolute;
  right: 0;
  margin-right: 2vh;
  margin-top: 2vh;
}

#ImagesPrincipal {
  width: 80vh;
  height: 80vh;
  display: block;
  margin: auto;
  margin-top: 2vh;
  border-radius: 50%;
  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#TextosPrincipal,
#ArtistaPrincipal {
  text-align: center;
  font-size: 6vh;
  padding: 1vh;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 2vh;
  color: #FFF;
  text-align: center;
  font-family: Impact;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#ArtistaPrincipal {
  margin-top: 0vh;
  padding: 0vh;
  font-size: 3vh;
}

.LetraMusic {
  font-size: 0px;
}

#LetraMusics {
  display: -webkit-box;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  display: block;
  margin: auto;
  overflow: hidden;
  color: #FFF;
  text-align: justify;
  text-shadow: 0.2vh 0.2vh 0.2vh black;
  padding: 1vh;
  text-overflow: ellipsis;
  font-family: Impact;
  font-size: 4vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2vh;
  display: block;
}

/* Audio */
.progress_bar {
  height: 5vh;
  width: 80%;
  display: block;
  margin: auto;
  border-radius: 1vh;
  overflow: hidden;
  background-color: white;
}

.progressed {
  height: 10vh;
  background: url("https://i.gifer.com/Mefp.gif") fixed no-repeat center;
  background-size: cover;
  width: 50%;
  transition: all 0.1ms;
  position: relative;
}

.progressed::after {
  content: '';
  position: absolute;
  right: -1vh;
  top: -0vh;
  width: 2vh;
  height: 5vh;
  border-radius: 10px;
  background-color: rgb(25, 6, 112);
}

/* Sobre */
#Sobre {
  background: rgb(25, 23, 36);
  color: white;
}

#Sobre>img {
  display: block;
  margin: auto;
  margin-top: 1vh;
  width: 60vh;
  height: 60vh;
  border-radius: 50%;
}

#Sobre>h2 {
  text-align: center;
  margin-top: 1vh;
  font-size: 10vh;
  color: yellow;
  filter: drop-shadow(0.1vh 0.1vh 0.1vh #ffffff);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Sobre>hr {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 3vh;
  height: 0.1vh;
  color: #aaa;
  border: transparent;
  background-color: #aaa;
}

#Sobre>h1 {
  color: #ffff00;
  text-shadow: 0.1vh 0.1vh 0.1vh #0505ac;
  text-align: center;
  font-size: 6vh;
  margin-top: 1vh;
}

#Sobre>h6 {
  color: #ffff00;
  text-shadow: 0.1vh 0.1vh 0.1vh #040468;
  text-align: center;
  font-size: 2vh;
  margin-top: 1vh;

}

#Sobre>details>summary {
  list-style: none;
  cursor: pointer;
  text-align: center;
  margin-top: 0.5vh;
  font-size: 3vh;
}

#Sobre>details {
  font-size: 1.5vh;
  text-align: justify;
  width: 80%;
  display: block;
  margin: auto;
}

/* Adicionar */
#Adicionar,#Playlist,
#Background_Bk {
  color: white;
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  backdrop-filter: blur(3vh);
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  top: 0;
  position: fixed;
}

#AdicionarInput,
#BackgroundsText,
#FileLabel,
#BackgroundsMusicP {
  all: unset;
  border: 0.2vh solid rgb(12, 3, 48);
  border-bottom: 1vh solid rgb(5, 127, 136);
  background-color: rgb(13, 5, 43);
  font-family: "Holtwood One SC", serif;
  text-align: left;
  padding: 2vh;
  font-size: 5vh;
  color: white;
  cursor: text;
  width: 80%;
  margin-top: 20%;
}

#FileLabel {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  border-bottom: transparent;
  cursor: pointer;
  color: yellow;
}

:is(#BackgroundsMusicP, #AdicionarInput, #BackgroundsText)::placeholder {
  color: white;
  text-align: center;
}

#AdicionarInput:focus {
  border-bottom-color: white;
}

#BackgroundsMusicP {
  margin-top: 12vh;
}

#AdicionarButton {
  cursor: pointer;
}

#Search::placeholder {
  font-size: 2vh;
}

#AdicionarButton,
#Background_Bk>button,
#file,
#SalvarPrincipal {
  all: unset;
  width: 40vh;
  color: white;
  cursor: pointer;
  font-family: "Holtwood One SC", serif;
  padding: 2vh;
  font-size: 4vh;
  border-radius: 50vh;
  margin-top: 2vh;
  background: rgb(13, 5, 43);
}

#AdicionarButton:hover,
#Background_Bk>button:hover,
#file:hover {
  filter: invert(1);
}



#Volume {
  -webkit-appearance: none;
  appearance: none;
  width: 60vh;
  height: 2vh;
  background: rgb(24, 22, 37);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: flex;
  margin: auto;
  margin-top: -4vh;
  border: 0.5vh solid;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), red, rgb(190, 7, 7), yellow, aqua, purple, yellow, orange) 1;
  animation: 5s rotate linear infinite;
  overflow: hidden;
}

#Volume:hover,
#PlayBack:hover {
  opacity: 1;
}

#Volume::-webkit-slider-thumb,
#PlayBack::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.8vh;
  height: 1.8vh;
  background: purple;
  border: 0.4vh solid gold;
  cursor: pointer;
  border-radius: 50%;
}

#PlayBack::-webkit-slider-thumb {
  width: 3.5vh;
  height: 3.5vh;
}

#PlayBack {
  transform: rotate(270deg);
  appearance: none;
  background: rgb(24, 22, 37);
  outline: none;
  opacity: 0.7;
  height: 5vh;
  width: 13vh;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: 0.5vh solid;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), red, rgb(190, 7, 7), yellow, aqua, purple, yellow, orange) 1;
  animation: 5s rotate linear infinite;
  overflow: hidden;
  display: flex;
  float: right;
  margin-top: -7vh;
  margin-right: -3vh;
}

/* ConfigAbas */
#ConfigAbas {
  height: auto;
  background-color: #0d0c0e;
  filter: opacity(90%);
  border-bottom: 0.3vh solid transparent;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), red, rgb(190, 7, 7), yellow, aqua, purple, yellow, orange) 1;
  animation: 5s rotate linear infinite;
  padding: 2vh;
}

#Search {
  border: 0.3vh solid #ebeb10;
  background: rgb(24, 22, 37);
  display: block;
  margin: auto;
  margin-top: 2vh;
  height: 5vh;
  width: 90%;
  text-align: center;
  color: whitesmoke;
}

#Buscando,
#AbrirBK,
#FecharBK {
  margin-top: 0px;
  border: 0.6vh solid yellow;
  margin-top: 3vh;
  width: 40vh;
  padding: 1vh;
  border-radius: 5vh;
  cursor: pointer;
}

#FecharBK {
  display: none;
}

#EscolhaSeta {
  position: absolute;
}

#EscolhaSeta>button {
  display: block;
  font-size: 5vh;
  cursor: pointer;
  color: yellow;
  margin-left: 1vh;
  text-shadow: 0.1vh 0.1vh 0.1vh blue;
}

#TextosPrincipal>button {
  display: block;
  margin: auto;
}

.BtnHide {
  display: block;
  margin: auto;
  margin-top: 2vh;
  border: 0.3vh solid yellow;
  font-size: 3vh;
  color: cyan;
  width: 20vh;
  text-align: center;
  padding: 1vh;
  border-radius: 20vh;
}

#BackgroundsMuiscP {
  border: 0.2vh solid rgb(13, 10, 37);
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 2vh;
  border-radius: 2vh;
  background: rgb(13, 10, 37);
  padding: 2vh;
}

#BackgroundsMuiscP>img {
  width: 30vh;
  height: 30vh;
  margin-top: 2vh;
  display: inline-block;
  margin-left: 2.5vh;
}

#CorpoMP {
  display: none;
}

/* Animation Border */
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}