@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow-x: hidden;
}

/* Style Padrão */
input[type="checkbox"] {
  display: none;
}

#BodyBody {
  overflow: hidden;
}

body {
  width: 100%;
  height: 100vh;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-backdrop-filter: blur(8vh);
  color: white;
  ;
}

iframe {
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0px;
}

i {
  color: white;
}

/* Backgrounds */

#Border::-webkit-scrollbar {
  width: 0px;
}


#ImageFile {
  display: none;
}


#Corpo_Backgrounds {
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  backdrop-filter: blur(2.6vh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 2vh;
}

#Corpo_Backgrounds::-webkit-scrollbar{
  width: 0px;
}


/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

/* Backgrounds */
#EscolherBK {
  padding: 2vh;
  width: 100%;
  color: white;
  background: rgba(19, 14, 14);
  position: absolute;
  border: transparent;
  bottom: 0;
  color: #FFF;
  text-align: center;
  font-family: "Holtwood One SC", serif;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#ButtonRemove,
#Border>button,
#UploadFiles {
  border: 0.3vh solid;
  border-image: conic-gradient(from var(--angle), rgb(201, 201, 61), yellow, rgb(192, 192, 34), rgb(255, 255, 48)) 1;
  display: block;
  margin: auto;
  margin-top: 1vh;
  font-size: 2.5vh;
  width: 80%;
  color: #ffff00;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

#UploadFiles {
  background: #0d0c0e;
  width: 80%;
}

#Body_Upload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#Corpo_Upload {
  width: 50vh;
  border-radius: 2vh;
  padding: 2vh;
}

#Blood {
  color: yellow;
}

#Border>button:hover,
#ButtonRemove:hover {
  background: rgb(6, 6, 61);
}

button {
  all: unset;
}

#Backgrounds {
  border: 0.2vh solid #34285f;
  border-radius: 1vh;
  overflow: auto;
  height: 85%;
  margin-top: 1vh;
}

#Backgrounds::-webkit-scrollbar {
  width: 0px;
}

#Listar,
#Listar2 {
  color: white;
  width: 80%;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 3vh;
  padding: 2vh;
}

#Listar2 {
  font-size: 5vh;
  padding: 2vh;
}

/* Search */
#Search {
  border: 0.3vh solid rgb(2, 85, 2);
  background: rgb(24, 22, 37);
  display: block;
  margin: auto;
  margin-top: 2vh;
  height: 5vh;
  width: 85%;
  font-size: 4vh;
  text-align: center;
  border-radius: 1vh;
  resize: none;
  color: whitesmoke;
  overflow: hidden;
}

#Search::placeholder{
  display: block;
  margin: auto;
  height: 5vh;
  color: whitesmoke;
  align-content: center;
  padding: 1vh;
  align-items: center;
  justify-content: center;
}

#Search_DIV {
  background: rgba(0, 0, 0, 0.77);
  filter: opacity(98%);
  width: 100%;
  padding: 2vh;
}

#DIVAERROR {
  background-color: #0D0C0E;
  width: 100%;
  height: 100vh;
}

#TITULOERROR {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 8vh;
  color: yellow;
  font-family: 'Holtwood One SC', serif;
}

#Search::placeholder {
  font-size: 2vh;
}

/* Templete */
#Templete {
  height: 15vh;
  width: 100%;
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  backdrop-filter: blur(2.6vh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 2;
  bottom: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}


#Conteúdo_Templete>button,
#Conteúdo_Templete>i,
#Conteúdo_Templete>label>i {
  display: inline-block;
  margin-left: 1vh;
  overflow: hidden;
  cursor: pointer;
}

#Conteúdo_Templete {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  margin-top: 8vh;
  width: 80%;
  margin-left: 16vh;
  overflow: hidden;
  font-size: 4vh;
}

#Recomeçar {
  display: inline-block;
}

#Templete>img {
  width: 12vh;
  height: 12vh;
  display: flex;
  float: left;
  margin-left: 2vh;
  padding-top: 1vh;
  border-radius: 2vh;
}

#TP_Name {
  display: flex;
  float: left;
  margin-left: 2vh;
  width: 90%;
  overflow: auto;
  font-size: 5vh;
  color: #FFF;
  text-align: left;
  font-family: Impact;
  font-style: normal;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  text-shadow: 0.1vh 0.1vh 0.1vh black;
  margin-top: 1vh;
}

#TP_Name::-webkit-scrollbar {
  width: 0px;
}

#Templete>h1 {
  display: inline-block;
}

#Random {
  border: 0.1vh solid white;
  margin-top: 20vh;
}

#F {
  display: none;
}

#BtnMute {
  display: none;
  margin: auto;
}

/* Boxs */
#Boxs,
#Sobre {
  width: 100%;
  display: block;
  margin: auto;
  background: rgba(0, 0, 0, 0.77);
  filter: opacity(98%);
  cursor: pointer;
  padding: 2vh;
  overflow: hidden;
}

#Boxs::-webkit-scrollbar,
#BoxsPlaylist::-webkit-scrollbar {
  width: 0px;
}

#BoxsPlaylist {
  width: 98%;
  display: block;
  margin: auto;
  background: rgba(0, 0, 0, 0.77);
  filter: opacity(98%);
  cursor: pointer;
  padding: 2vh;
  overflow: hidden;
  height: 20vh;
}

#BodyPlaylist,
#BodyIndex {
  background: rgba(0, 0, 0, 0.77);
  filter: opacity(98%);
  top: 0;
  z-index: -1;
  position: fixed;
  height: 100vh;
  width: 100%;
}

#BodyIndex {
  filter: opacity(60%);
}

#Musicas::-webkit-scrollbar {
  width: 0px;
}

#Labeis>i {
  position: absolute;
  position: unset;
  margin-top: 3vh;
  left: 0;
  margin-left: 5vh;
}

#Corpinho::-webkit-scrollbar {
  width: 0px;
}

.Image {
  width: 15vh;
  height: 15vh;
  border-radius: 3vh;
  top: 0;
  margin-top: 2vh;
  margin-left: 2.4vh;
  filter: blur(100%);
  position: absolute;
}

#PlaylistConteudos>div>img {
  display: flex;
  float: left;
  margin-left: 2vh;
}

/* Playlist */
#Caixa_Playlist {
  border: 0.2vh solid white;
  padding: 2vh;
  margin-top: 4vh;
}

#Playlist_List {
  background-color: rgb(14, 1, 26);
  filter: opacity(0.8);
  padding: 2vh;
  font-family: 'Holtwood One SC', serif;
  margin-top: 3vh;
}

#Playlist_List>li {
  margin-top: 2vh;
  cursor: pointer;
  background-color: white;
  border-radius: 2vh;
  width: 20%;
  height: 40vh;
  list-style: none;
  overflow: auto;
}

#Playlist_List>li::-webkit-scrollbar{
  width: 0px;
}

#Playlist_List > li >h1 {
  font-size: 3vh;
  color: black;
  text-shadow: 0.1vh 0.1vh 0.1vh white;
  text-align: center;
  display: block;
  margin-top: 2vh;
  word-break: break-all;
}

#Div_Disco{
  background:url("./Arquivos/DiscVinil.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  margin-top: 2vh;
}


.Playlist_Itens {
  border: 0.2vh solid white;
  background-color: black;
  color: yellow;
  width: 20vh;
}


.PlayBox {
  border: 0.2vh solid white;
  background-color: #0505ac;
  color: yellow;
  padding: 2vh;
  margin-top: 2vh;
  cursor: pointer;
}


.Box_Create {
  width: 90%;
  margin: auto;
  border-radius: 2vh;
  margin-top: 4vh;
  padding: 2vh;
  background-color: rgb(1, 1, 3);
  border: 0.1vh solid white;
}


/* CaixaTexto */
#CaixaTexto>h1,
#CaixaTexto>h2 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 3.5vh;
  margin: auto;
  margin-top: 2vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  border: 0.1vh solid transparent;
  height: 2vh;
  color: #FFF;
  text-align: center;
  font-family: 'Holtwood One SC', serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 2vh;
  position: fixed;

}

#CaixaTexto{
  position: fixed;
  margin-left: 30vh;
  width: 75%;
  background-color: white;
}

#CaixaTexto>h2{
  margin-top: 8vh;
}

#CaixaTexto>input,
.Box_Create>input,
#CaixaTexto>button {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2vh;
  font-size: 5vh;
  text-align: center;
  margin-right: 5vh;
  margin-top: 10vh;
  background-color: transparent;
}

.Box_Create>input {
  position: unset;
  float: right;
  cursor: pointer;
  margin-top: -7vh;
}

.Box_Create>h1 {
  text-align: center;
  font-family: 'Holtwood One SC', serif;
  font-size: 5vh;
  color: yellow;
  width: 80%;
  height: 8vh;
  overflow: auto;
  margin: auto;
}

.Box_Create>h1::-webkit-scrollbar {
  width: 0px;
}

#CaixaTexto>button {
  margin-top: 10vh;
  font-size: 3vh;
  margin-right: 50vh;
}

#CaixaTexto>h2 {
  color: green;
}

#IDss,
#CaixaTexto>input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Holtwood One SC', serif;
  align-items: center;
  float: left;
  font-size: 3.5vh;
  width: 5%;
  height: 16vh;
}

#CaixaTexto>input {
  float: right;
  font-size: 4vh;
  margin-top: -0.8vh;
}

#CaixaTexto>input:nth-child(4){
  width: 15%;
}

/* Sidebar */
#Sidebar {
  color: white;
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  backdrop-filter: blur(2.6vh);
  text-decoration: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60vh;
  height: 100%;
  text-align: center;
  transform: translate(60vh);
  transition: 1s;
  cursor: pointer;
  overflow: hidden;
}

#QuantideDiv,
#TempoDiv {
  color: #FFF;
  text-align: center;
  font-family: 'Holtwood One SC', serif;
  font-size: 1.4vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 4.5vh;
}

:is(#QuantideDiv, #TempoDiv)>h1>span {
  display: block;
  color: yellow;
  text-shadow: 0.2vh 0.2vh 0.2vh black;
}

#Sidebar>a {
  display: block;
  margin-top: 2vh;
  text-decoration: none;
  text-align: left;
  margin-left: 2vh;
  color: #FFF;
  flex-shrink: 0;
  font-family: 'Holtwood One SC', serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 0.1vh 0.1vh 0.1vh black;
  font-size: 2vh;
}

#Sidebar>a:hover {
  text-shadow: none;
  color: #FFF;
  font-family: 'Holtwood One SC', serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(180deg, #FAFF00 0%, #8EE2F4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4vh;
}


#HeaderSidebar {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#HeaderSidebar>h1,
#Corpo_Backgrounds>h1,
#Caixa_de_Sobre>h2,
#Playlist_List > h1 {
  color: #FFF;
  font-family: 'Holtwood One SC', serif;
  font-size: 4vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(180deg, #FAFF00 0%, #8EE2F4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Corpo_Backgrounds>h1 {
  display: block;
  margin: auto;
  font-size: 7vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
}

#BtnOpen {
  all: unset;
  right: 0;
  position: fixed;
  color: white;
  cursor: pointer;
  z-index: 3;
  font-size: 10vh;
  margin-top: -2vh;
  margin-right: 1vh;
}

/* MusicaPrincipal */
#MusicaPrincipal,#MyEdit {
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  backdrop-filter: blur(2.6vh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  overflow: auto;
  display: none;
}


#Avançar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 75%;
  margin: auto;
  margin-top:2.5vh;
  padding: 2vh;
}

#FrenteP,
#TrásP {
  cursor: pointer;
  z-index: 1;
  top: 0;
  filter: drop-shadow(0.1vh 0.1vh 0.1vh white);
}

#TrásP>img,
#FrenteP>img {
  width: 35vh;
  height: 35vh;
}


#MusicaPrincipal::-webkit-scrollbar,#MyEdit::-webkit-scrollbar {
  width: 0px;
}


#FecharPrincipal {
  position: absolute;
  font-size: 15vh;
  top: 0;
  left: 0;
  margin-left: 2vh;
  margin-top: -2vh;
  cursor: pointer;
  color: black;
}

#FecharPrincipal:hover{
  color: white;
}


.IMGSidebar {
  margin-left: 2vh;
  width: 60vh;

}

#play2,
#Pausar2 {
  filter: drop-shadow(0.1vh 0.1vh 0.1vh white);
  display: flex;
  cursor: pointer;
  width: 30vh;
  height: 30vh;
}

#play2 {
  display: none;
}

#MV {
  position: absolute;
  right: 0;
  margin-right: 2vh;
  margin-top: 2vh;
}
#ImagesPrincipal {
  width: 100%;
  height: 85vh;
  display: block;  
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
  -ms-interpolation-mode: bicubic;
}



@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#TextosPrincipal,
#ArtistaPrincipal {
  text-align: center;
  font-size: 8vh;
  padding: 1vh;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 2vh;
  color: #FFF;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 0.1vh 0.1vh 0.1vh black;
}

#TextosPrincipal{
  color: green;
}

#TextosPrincipal::first-letter{
  text-transform: uppercase;
}

#ArtistaPrincipal {
  margin-top: 0vh;
  padding: 0vh;
  font-size: 3vh;
}

#ArtistLetras{
  position: absolute;
  width: 100%;
  margin-top: -20vh;
}



.LetraMusic {
  font-size: 0px;
}

#LetraMusics {
  display: -webkit-box;
  width: 95%;
  display: block;
  margin: auto;
  overflow: hidden;
  color: #FFF;
  text-align: justify;
  text-shadow: 0.2vh 0.2vh 0.2vh black;
  padding: 2vh;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 6vh;
  font-style: normal;
  font-weight: 400;
  margin-top: 2vh;
  display: block;
}

/* Audio */
.progress_bar {
  height: 5vh;
  width: 80%;
  display: block;
  margin: auto;
  border-radius: 2vh;
  overflow: hidden;
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
}

.progressed {
  height: 10vh;
  background: url("https://i.gifer.com/Mefp.gif") fixed no-repeat center;
  background-size: cover;
  width: 50%;
  transition: all 0.1ms;
  position: relative;
}

#Box_progress{
  margin-top: 4vh;
}

.progressed::after {
  content: '';
  position: absolute;
  right: -1.4vh;
  top: -0vh;
  padding: 2.5vh;
  border-radius: 50%;
  background-color: rgb(4, 80, 4);
}

/* Background */


#BackgroundsC {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100vh;
  width: 100%;
  border: 0.2vh solid transparent;
  overflow: auto;
}

#BackgroundsC::-webkit-scrollbar{
  width: 0px;
}

#BackgroundsC > img {
  width: 40vh;
  height: 40vh;
}

#BackgroundsC > img:hover{
  cursor: pointer;
  border-radius: 50%;
  border: 0.4vh solid red;
}

/* Sobre */
#Sobre {
  padding: 0;
  margin: 0;
  overflow: hidden;
}


#Caixa_de_Sobre>h2,
#Caixa_de_Sobre>h3 {
  text-align: center;
  margin-top: 1vh;
  font-size: 10vh;
  color: yellow;
  filter: drop-shadow(0.1vh 0.1vh 0.1vh #ffffff);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Caixa_de_Sobre>h3 {
  font-size: 6vh;
}

#Caixa_de_Sobre>hr {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 3vh;
  height: 0.1vh;
  color: #aaa;
  border: transparent;
  background-color: #aaa;
}

#Caixa_de_Sobre>h1 {
  color: #ffff00;
  text-shadow: 0.1vh 0.1vh 0.1vh #0505ac;
  text-align: center;
  font-size: 4vh;
  margin-top: 1vh;
}

#Caixa_de_Sobre>h6 {
  color: #ffff00;
  text-shadow: 0.1vh 0.1vh 0.1vh #040468;
  text-align: center;
  font-size: 3vh;
  margin-top: 2vh;

}

#Caixa_de_Sobre>details>summary {
  list-style: none;
  cursor: pointer;
  text-align: center;
  margin-top: 0.5vh;
  font-size: 3vh;
}

#Caixa_de_Sobre {
  overflow: hidden;
  width: 45%;
  border: 0.1vh solid transparent;
  display: block;
  margin: auto;
  margin-top: 5%;
}

#Caixa_de_Sobre>details {
  font-size: 2vh;
  text-align: justify;
  width: 80%;
  display: block;
  margin: auto;
}

/* Adicionar */
#Adicionar,
#Playlist,
#Background_Bk {
  color: white;
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  backdrop-filter: blur(3vh);
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  position: fixed;
}

#AdicionarInput,
#BackgroundsText,
#FileLabel,
#BackgroundsMusicP,
#PlaylistName{
  all: unset;
  border: 0.2vh solid rgb(12, 3, 48);
  border-bottom: 0.6vh solid yellow;
  background-color: rgb(14, 5, 48);
  font-family: "Holtwood One SC", serif;
  text-align: left;
  padding: 2vh;
  font-size: 5vh;
  color: white;
  border-radius: 2vh;
  cursor: text;
  width: 80%;
  margin-top: 20%;
}

#MyEdit > input,textarea{
  all: unset;
  border: 0.2vh solid rgb(12, 3, 48);
  border-bottom: 0.6vh solid yellow;
  background-color: rgb(14, 5, 48);
  font-family: "Holtwood One SC", serif;
  text-align: left;
  padding: 2vh;
  font-size: 5vh;
  color: white;
  border-radius: 2vh;
  cursor: text;
  width: 80%;
  margin: auto;
  margin-top: 3vh;
}

:is(#MyEdit > input,textarea)::placeholder{
  color: white;
}

#AdicionarInput,
#BackgroundsText,
#MyEdit > input,textarea{
  border: 0.4vh solid yellow;
  background-color: transparent;
  text-align: center;
}

#MyEdit > input,textarea{
  display: block;
  margin: auto;
  margin-top: 2%;
}

#FileLabel {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  border-bottom: transparent;
  cursor: pointer;
  color: yellow;
  border-radius: 0vh;
}

:is(#BackgroundsMusicP, #AdicionarInput, #PlaylistName, #BackgroundsText)::placeholder {
  color: white;
  text-align: center;
}

#PlaylistName {
  display: block;
  margin: auto;
  margin-top: 2vh;
  border-radius: 2vh 2vh 0 0;
}

:is(#BackgroundsMusicP, #AdicionarInput, #PlaylistName, #BackgroundsText):focus {
  background-color: #03035f;
  border-bottom-color: white;
  color: yellow;
}

#BackgroundsMusicP {
  margin-top: 12vh;
}

#AdicionarButton {
  cursor: pointer;
}

#AdicionarButton,
#PlaylistButton,
#Background_Bk>button,
#PlaylistSalvar,
#file,
#SalvarPrincipal,
#MyEdit > button{
  all: unset;
  width: 40vh;
  color: white;
  cursor: pointer;
  font-family: "Holtwood One SC", serif;
  padding: 2vh;
  font-size: 4vh;
  border-radius: 50vh;
  margin-top: 2vh;
  background: rgb(13, 5, 43);
  border: 0.2vh solid yellowgreen;
  text-align: center;
}

#MyEdit > button{
  display: block;
  margin: auto;
  margin-top: 3vh;
}

#Edit_Img{
  border: 0.2vh solid white;
  margin: auto;
  display: block;
  margin-top: 2vh;
  width: 30vh;
  height: 30vh;
}

#AdicionarButton:hover,
#Background_Bk>button:hover,
#PlaylistSalvar:hover #file:hover {
  background-color: rgb(43, 15, 143);
}

#PlaylistButton {
  width: 70vh;
  text-align: center;
  margin-left: 2vh;
  margin-top: 2vh;
}

#PlaylistInputBody {
  display: none;
}

#PlaylistSalvar {
  display: block;
  margin: auto;
  margin-top: 2vh;
  width: 40%;
  text-align: center;
}

#Volume {
  -webkit-appearance: none;
  appearance: none;
  width: 60vh;
  height: 3vh;
  background: rgb(24, 22, 37);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: flex;
  margin: auto;
  margin-top: -4vh;
  border: 0.5vh solid;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), red, rgb(190, 7, 7), yellow, aqua, purple, yellow, orange) 1;
  animation: 5s rotate linear infinite;
  overflow: hidden;
}

#Volume:hover,
#PlayBack:hover {
  opacity: 1;
}

#Volume::-webkit-slider-thumb,
#PlayBack::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.8vh;
  height: 1.8vh;
  background: rgb(2, 43, 2);
  border: 0.4vh solid green;
  cursor: pointer;
  border-radius: 50%;
}

#PlayBack::-webkit-slider-thumb {
  width: 3.5vh;
  height: 3.5vh;
}

#PlayBack {
  transform: rotate(270deg);
  appearance: none;
  background: rgb(24, 22, 37);
  outline: none;
  opacity: 0.7;
  height: 5vh;
  width: 13vh;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: 0.5vh solid;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), red, rgb(190, 7, 7), yellow, aqua, purple, yellow, orange) 1;
  animation: 5s rotate linear infinite;
  overflow: hidden;
  display: flex;
  float: right;
  margin-top: -7vh;
  margin-right: -4vh;
}

/* ConfigAbas */
#ConfigAbas {
  height: auto;
  background-color: #0d0c0e;
  filter: opacity(90%);
  border-bottom: 0.3vh solid transparent;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), red, rgb(190, 7, 7), yellow, aqua, purple, yellow, orange) 1;
  animation: 5s rotate linear infinite;
  padding: 2vh;
}


#Buscando,
#AbrirBK,
#FecharBK {
  margin-top: 0px;
  border: 0.6vh solid yellow;
  margin-top: 3vh;
  width: 40vh;
  padding: 1vh;
  border-radius: 5vh;
  cursor: pointer;
}

#FecharBK {
  display: none;
}

#EscolhaSeta {
  position: absolute;
}

#EscolhaSeta>button {
  display: block;
  font-size: 5vh;
  cursor: pointer;
  color: yellow;
  margin-left: 1vh;
  text-shadow: 0.1vh 0.1vh 0.1vh blue;
}

#TextosPrincipal>button {
  display: block;
  margin: auto;
}

.BtnHide {
  display: block;
  margin: auto;
  margin-top: 2vh;
  border: 0.3vh solid yellow;
  font-size: 3vh;
  color: cyan;
  width: 20vh;
  text-align: center;
  padding: 1vh;
  border-radius: 20vh;
}

#BackgroundsMuiscP {
  border: 0.2vh solid rgb(13, 10, 37);
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 2vh;
  border-radius: 2vh;
  background: rgb(13, 10, 37);
  padding: 2vh;
}

#BackgroundsMuiscP>img {
  width: 30vh;
  height: 30vh;
  margin-top: 2vh;
  display: inline-block;
  margin-left: 2.5vh;
}

#CorpoMP {
  display: none;
}



/* Animation Border */
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}