<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar TK</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body id="Adicionar">
    <div id="Corpo_Adicionar">
        <h1>Insira aqui a url do vídeo para instalar</h1>
        <input type="text" placeholder="Fazer download via url" name="input" id="AdicionarInput">
        <input onclick="Baixar()" id="AdicionarButton" type="submit" value="Enviar"><br>
    </div>
</body>
<script src="../static/Add.js"></script>
</html>