<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backgrounds</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body id="Background_Bk">
        <input type="text" id="BackgroundsText" placeholder="Adicionar a url do seu arquivo jpg , png ou gif">
        <button onclick="Salvar()">Salvar</button>
        <input type="file" id="BackgroundsFile" style="display: none;" onchange="previewFile()"
            accept=".jpg, .jpeg, .png .gif">
        <label for="BackgroundsFile" id="FileLabel">Image via Arquivo</label>
</body>
<script src="../static/Background.js"></script>
</html>