<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reproduction TK</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body id="Corpinho">
    <div id="BodyPlaylist"></div>
    <input type="text" id="PlaylistName">
    <button id="PlaylistSalvar" onclick="Salvar()">Adicionar Playlist</button>
    <div id="Musicas">
        <audio id="ORIGINAL"></audio>
    </div>
    <div id="Templete">
        <img id="TPImage" alt="">
        <h1 id="TP_Name"></h1>
        <div id="Conteúdo_Templete">
            <input type="checkbox" id="PPEvent">
            <label for="PPEvent">
                <i id="BtnPauseEvent" class="fas fa-pause"></i>
                <i style="display: none;" id="BtnPlayEvent" class="fas fa-play"></i>
            </label>
            <input type="checkbox" id="MuteeDismute">
            <label id="LabelControl" for="MuteeDismute">
                <i id="BtnMute" class="fas fa-volume-mute"></i>
                <i style="display: none;" id="BtnVolume" class="fas fa-volume-down"></i>
            </label>
            <button id="Menos5"><i class="fa fa-backward"></i></button>
            <button id="Recomeçar"><i class="fa fa-stop	"></i></button>
            <button id="Mais5"><i class="fa fa-forward"></i></button>
            <button id="Randomizando"><i class="fa-solid fa-shuffle"></i></button>
            <button id="Trás"><i class="fa-solid fa-arrow-left"></i></button>
            <button id="Frente" onclick="Frente()"><i class="fa-solid fa-arrow-right"></i></button>
            <button id="NormalVolume"><i class="fa fa-volume-up"></i></button>
            <button id="NormalPlayBack"><i class="fas fa-tachometer-alt"></i></button>
        </div>
        <input type="range" min="0" step="0.1" max="1" id="Volume">
        <input type="range" id="PlayBack" orient="vertical"   min="0.1" step="0.25" max="10">
    </div>
    <div id="MusicaPrincipal">
        <button id="FecharPrincipal">✖</button>
        <img id="ImagesPrincipal" alt="">
        <h1 id="TextosPrincipal"></h1>
        <h6 id="ArtistaPrincipal"></h6>
            <div id="Avançar">
                <button id="TrásP"><img src="../static/Arquivos/Voltar.png" alt=""></button>
                <img id="Pausar2" src="../static/Arquivos/pause.png" alt="">
                <img id="play2" src="../static/Arquivos/play.png" alt="">
                <button id="FrenteP"><img src="../static/Arquivos/Past.png" alt=""></button>
                </div>
                <div class="progress_bar" id="progress_bar">
                    <div class="progressed" id="progressed"></div>
                </div>
        <p id="LetraMusics"></p>
        <h4 id="PlaylistHome"></h4>
        <h4 id="Remove"></h4>
    </div>
</body>
<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="../static/Playlist.js"></script>
<style>

</style>
</html>