<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body id="Sobre">
    <div id="Caixa_de_Sobre">
        <h2>JSA Production</h2>
        <h3>Apresentação Reproduction</h3>
        <h1>Versão: 4.7.0</h1>
        <div id="QuantideDiv">
            <h1>Músicas Tocadas: <span id="Quantidade"></span></h1>
            <h1>Quantidade de Músicas: <span id="QuantidadeMusic"></span></h1>
        </div>
        <button id="ButtonRemove">Remover Todas as APIs</button>
        <details>
            <summary>Política de Privacidade</summary>
            <p>BEM VINDO AO MEU MUNDO
                Entre as medidas que adotamos, destacamos as seguintes: Apenas pessoas autorizadas têm acesso a seus
                dados
                pessoais. O acesso a seus dados pessoais é feito somente após o compromisso de confidencialidade. Seus
                dados
                pessoais são armazenados em ambiente seguro e idôneo.
                A JSA production se compromete a adotar as melhores posturas para evitar incidentes de
                segurança. Contudo, é necessário destacar que nenhuma página virtual é inteiramente segura e livre de
                riscos. É possível que, apesar de todos os nossos protocolos de segurança, problemas de culpa
                exclusivamente
                de terceiros ocorram, como ataques cibernéticos de hackers, ou também em decorrência da negligência ou
                imprudência do próprio usuário/cliente.

                Em caso de incidentes de segurança que possa gerar risco ou dano relevante para você ou qualquer um de
                nossos usuários/clientes, comunicaremos aos afetados e a Autoridade Nacional de Proteção de Dados sobre
                o
                ocorrido, em consonância com as disposições da Lei Geral de Proteção de Dados.
            </p>
        </details>
        <h6>@2023 by JSA PRoduction</h6>
    </div>
</body>
<script>
    var Tocandas = localStorage.getItem("Tocandas")
    Quantidade.innerHTML = Tocandas + " Vezes"
    fetch("/DadosMusic").then(function (response) {
        response.json().then((data) => {
            var MinhasMusicas = JSON.parse(JSON.stringify(data))
            document.getElementById("QuantidadeMusic").innerHTML = MinhasMusicas.Name_Music.length
        })
    })
    document.getElementById("ButtonRemove").addEventListener("click",function(){
        localStorage.clear()
        location.reload()
    })
</script>

</html>