<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body id="Sobre">
    <h2>JSA Production</h2>
    <img src="https://i.pinimg.com/564x/3d/3a/a7/3d3aa7e194d615bba0f99a2001be09d7.jpg" alt="">
    <h1>Versão: 1.2.0</h1>
    <details>
        <summary>Política de Privacidade</summary>
        <p>BEM VINDO AO MEU MUNDO
            Entre as medidas que adotamos, destacamos as seguintes: Apenas pessoas autorizadas têm acesso a seus dados
            pessoais. O acesso a seus dados pessoais é feito somente após o compromisso de confidencialidade. Seus dados
            pessoais são armazenados em ambiente seguro e idôneo.
            A JSA production se compromete a adotar as melhores posturas para evitar incidentes de
            segurança. Contudo, é necessário destacar que nenhuma página virtual é inteiramente segura e livre de
            riscos. É possível que, apesar de todos os nossos protocolos de segurança, problemas de culpa exclusivamente
            de terceiros ocorram, como ataques cibernéticos de hackers, ou também em decorrência da negligência ou
            imprudência do próprio usuário/cliente.

            Em caso de incidentes de segurança que possa gerar risco ou dano relevante para você ou qualquer um de
            nossos usuários/clientes, comunicaremos aos afetados e a Autoridade Nacional de Proteção de Dados sobre o
            ocorrido, em consonância com as disposições da Lei Geral de Proteção de Dados.
        </p>
    </details>
    <h6>@2023 by JSA PRoduction</h6>
</body>

</html>